<?xml version="1.0" encoding="UTF-8"?>

<suite name="SeleniumRevision" verbose="1">
	<test name="LoginPageTest">
		<classes>
			<class name="com.selenium.actions.TestNGAnnotations" />
		</classes>
	</test>
	<test name="GroupTest">
		<groups>
			<run>
				<include name="GroupOneTest" />
				<include name="GroupTwoTest" />
				<includ name = "CommonGroupTest"/>
			</run>
		</groups>
	</test>
</suite>